/* *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    width: 100%;
}
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: visible;
    overflow: scroll;
}

.Header img{
    max-width: 510px;
    height: auto;
}

.Header p{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(89, 103, 15);
    text-align: center;
    white-space: nowrap;
    flex-grow: 1;
    overflow-x: visible;
} */

/* Navigation bar */
/* .navbar{
    background-color: crimson;
    font-family: calibri;
    padding: 1rem 5%;
    width: 100%;
}

.navdiv{
    display: flex; 
    align-items: center; 
    justify-content:center;
    flex-wrap: nowrap;
}

.navlist{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
}

li{
    list-style: none;
}

li a{
    font-size: 1.2rem;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    display: block;
} */

/* footer */ 
/* .foot{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 2rem 10%;
    justify-content:center;
    text-align: center;
    width: 100%;
}

.footTitle{
    font-size: 2.5rem;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 1rem;
}

.infoList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.2;
    padding:0;
    width: 100%;
}
.row{
    display: flex;
    justify-content: center;
    gap: 12rem;
    width: 100%;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}


.socialMedia{
    display:flex;
    justify-content: center;
    gap: 1rem;
    width: 1000%;
}

.socialMedia a{
    color: white;
    font-size: 1.5rem;
}

@media (max-width: 576px){
    .Header a img{
        width: 60%;
    }
    .Header p {
        font-size: 1.5rem !important;
    }
    li a{
        font-size: 1rem;
    }
    .footTitle{
        font-size: 1.5rem;
    }

    .row{
        gap: 0.5rem;
    }
}

@media (min-width: 577px){
    .Header{
        justify-content: space-between;
        padding: 1rem 5%;
    }

    .Header p{
        font-size: 5rem;
        justify-content: center;
    }

    .navdiv{
        flex-direction: column;
    }

    .navbar{
        padding: 1rem 5%;
    }

    .navlist li a{
        font-size: 2rem;
    }

    .infoList{
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
} */

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}


