/* Resetting margin, padding and box-sizing for all elements */
*{
    margin: 0;  /* Removes default margin and padding */
    padding:0;
    box-sizing: border-box;  /* keeps everything including padding inside the box */
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    max-width: 100%;
    background-color: lightblue;
    /* background: linear-gradient(to top, #08243c, #00ffe7); */
}
/* ------------------------------ Scroll bar ------------------------------ */
::-webkit-scrollbar{ /* Customise the scroll bar */
    width:0;
}

#scrollBar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background:rgba(255,255,255,0.05);
    z-index: 2;
}

#progressbar{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #ff00ae, #00ccff); /* gradient for glow effect */
    animation: animate 10s linear infinite;
    filter: blur(10px); /* Makes the progress bar feels like it is glowing */
}

#progressbar:after{     /* Used to add visual enhancements that don't directlly affect the functionality of the progress bar */
    content:'';         /* Acts as a container for styling */
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff00ae, #00ccff); 
    filter:blur(30px);
}

@keyframes animate{ /* Used to define an animation by specifying the styles at different points in the animation progresses */

    /* This rotates the hues clockwise around the color wheel */
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
    100%{
        filter: hue-rotate(360deg)
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff00ae, #00ccff);
}
/* ------------------------------------------------------------------- */

/* ------------------------------ Fonts ------------------------------ */
/* Google fonts */
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* Use vaue from 200 -1000 for wieght  */
  .montserrat-content {
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-style: normal;
  }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* Use a value from 300 to 800 */
  .parkinsans-content {
    font-family: "Parkinsans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

 /* Use a value from 400 to 700 */

.dancing-script-dances {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  font-style: normal;
}

 /* <weight>: Use a value from 100 to 900 */

.sour-gummy-Bear {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Sets default font-family for text*/ 
h2{
    font-family: "Archivo Black", sans-serif;
}
h3{
    font-family: "Pacifico", cursive;
}
p{
    font-family: "Roboto", sans-serif;
}
/* ------------------------------------------------------------------- */

/* ------------------------------ Header ------------------------------ */
/* Header box */
.Header {
    display: flex;
    align-items: center; /* vertically center the items in the header */
    flex-wrap: nowrap;
    max-width: 100%;
    padding: 0 2%; /* No padding on the top, padding 2% on the left and right */
}

.Header .logoPic img{
    width: 60%;
    height: auto;
}

.Header h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Nice thing to use when centering the text */
    font-size: 3vw;
    font-weight: bold;
    font-family: "Archivo Black", sans-serif;
    color: rgb(13, 95, 150);
    text-align: center;
    white-space: nowrap;
    margin: 0;
}

.Header .menu{
    display: flex;
    margin-right: 2.5%; /* space on the right */
    align-items: center;
    position: absolute;
    right: 0; /* align menu to the right side of the header */
}

.Header .menu img{
    width: 60%;
    height: auto;
    z-index: 2;
}

#searchBar {
    padding: 0.5vw;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc; /* Light border around the search bar */
    background-color: rgba(255, 255, 255, 0.9); /* Light background with transparency */
    width: 18vw; 
    height: auto;
    display: none; /* Hidden initially */
    transition: all 0.8s ease; /*smooth transition for showing/hiding */
    margin-left: -2vw; /* Move search bar to the left */
}
/* Style for when the menu is open */
body.menu-open .menuBtn {
    right: 0; /* Slide in the menu */
}

/* Additional styling to enhance the menu appearance */
.menuBtn {
    position: fixed;
    top: 0;
    right: -30vw; /* Start off-screen */
    width: 30vw;
    height: 100%;
    background-color: rgba(92, 85, 85, 0.9); /* Background for the menu */
    transition: right 0.3s ease-in-out; /* smooth slide transition */
    z-index: 100;  /* Ensure the menu is above other elements */
    font-family: "Protest Revolution", sans-serif;
}

.menuList {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
    text-align: center; /* Center align the menu items */
}

.menuList li {
    margin: 20px 0; /* spacing between menu items */
}

.menuList li a {
    color: white;
    text-decoration: none; /* remove underline from links */
    font-size: 1.4vw;
    display: block;
    padding: 10px; /* padding inside each menu item */
}

.menuList li a:hover {
    background-color: #171616; /* darkens the background when hover */
}

/* Hide the search bar when the menu is visible */
body.menu-open #searchBar {
    display: none; /* Hide the search bar when menu is open */
}

/* Style for the menu icon */
#menuIcon {
    cursor: pointer;
}
/* ------------------------------------------------------------------- */

/* ------------------------------ Navigation Bar ------------------------------ */
.navbar{
    background-color: crimson; 
    height: auto;
    max-width: 100%;
    margin-bottom: 2vw;
    box-sizing: border-box; /* ensures padding doesn't add to the width */
}

.navbar .navdiv{
    display: flex; 
    justify-content:space-between; /* Distributes space between items */
    flex-wrap: wrap; /* allows items to wrap to the full width of the navbar */
    width: 100%;
    padding: 0 10px;
}

.navbar .navlist{
    display: flex;
    margin: 1vw;  /* Set margin and padding to make the bar look wider */
    padding: 1vh;
    justify-content: space-evenly; /*Distributes List items evenly with equal spacing */
    align-items: center; /* Centers the item in the navigation bar */
    width: 100%;
    height: auto; 
    gap: 10px; /*Add spacing between list items */
}

.navbar li{
    list-style: none; /* Remove default bullet points for list items */
}

.navbar li a{
    font-size: 2vw;
    color: white;
    font-family: "Sour Gummy", sans-serif;
}
/* ---------------------------------------------------------------------------- */

/* ------------------------------ Footer ------------------------------ */
.foot{
    list-style: none;     /* remove list style */
    display: flex;  
    flex-direction: column;     
    /* flex-wrap: wrap;      Allows child elements to wrap onto the next line if needed */
    background-color: black;
    color: white;
    justify-content:center;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.foot h2{
    color: white;
    font-family:"Roboto", sans-serif;
    font-size: 1.5rem;
}

/* Styling for lists of information within the footer */
.infoList{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.row{
    display: flex;
    justify-content: center;
    gap: 2rem; /* Adjust horizontal spacing between items */
    margin-bottom: 1rem; /* Adds space below each row */
}

.row a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.row a:hover {
    color: rgb(8, 178, 230);
}

.socialMedia{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;

}   

.socialMedia a{
    font-size: 1.3vw;
    color: white;
}

/* -------------------------------------------------------------------- */

/* ------------------------------ Back To Top Button ------------------------------ */

#myBtn {
    display: none; /* Initially hides the button */
    position: fixed; /* Keeps the button fixed in the viewport */
    bottom: 2vw;
    right: 3vw;
    z-index: 99; /* Ensures the button appears on top of most elements */
    font-size: 1.8vw;
    border: none; /* Removes the default border styling */
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer; /* Changes the cursor to a pointer when hovering */
    padding: 1vw; /* Adds padding around the text inside the button */
    border-radius: 4px; /* Rounds the corners of the button */
  }
  
#myBtn:hover {
    background-color: #154c71; /* Changes the background color when the button is hovered */
}
/* -------------------------------------------------------------------------------- */

/* ------------------------------ Submit Successful Message  ------------------------------ */

.modal{
    display: none;          /* hidden by default */ 
    position: fixed;        /* fixed position to stay in place even when scrolling */
    z-index: 1000;       
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    /*Adjust the position to exactly center */
    max-width: 20vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.9); /* Adds a semi-transparent white background */
    padding: 20vh; /* Adds spacing inside the modal */
    justify-content: center; /* Centers the content inside the modal */
    white-space: nowrap;  /* Prevents text wrapping inside the modal */
}

.modal-content p{
    font-size: 1.3vw;
    font-family: "Sour Gummy", sans-serif;
}

.close-button{
    color: lightgrey;
    font-size: 3vw;
    font-weight: bold;
    position: absolute; /* Allows precise positioning within the modal */
    top: 1vh;  /* Positions the button slightly from the top */
    right: 1vw; /* Positions the button slightly from the right */
    cursor: pointer; 
    background: none; /* Removes any background, border, outline styling */
    border: none;
    outline: none;
}

.close-button:hover,
.close-button:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover{
    background-color: rgb(99, 202, 202); /* Adds a light blue hover effect */
    cursor: pointer;
}
/* ---------------------------------------------------------------------------------------- */

/* ------------------------------ Home Page ------------------------------ */
#welcome{
    position: absolute; /* Used to overlap the picture */
    top: 50%;  /* Vertically centers the element */
    left: 50%;  /* Horizontally centers the element */
    transform: translateX(-50%); /* Adjusts the position to ensure perfect centering */
    color:rgb(137, 235, 235);
    font-size: 5vw;
    text-align: center;
    font-family: "Protest Revolution", sans-serif;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}
/* ----- video ----- */
.video{
    padding-top: 5rem; /* Adds spacing above the video */
    padding-bottom: 5rem; /* Adds spacing above the video */
    display: flex;
    justify-content: center; /* Horizontally centers the video */
}

.video iframe{
    width: 80%;
    height: 80vh;
}
/* ----------------- */

/* ----- Swim With Us ----- */
.swimTgt{
    display: flex;
    flex-direction: column; /* Aligns children elements in a vertical column */
    align-items: center; /* Horizontally centers all children elements */
    max-width: 80%;
    margin: 0 auto; /* Centers the container horizontally within its parent */
} 

.swimTgt h2, .swimTgt p{
    text-align: center; /* Centers the text for both headings and paragraphs */
}

.swimTgt h2{
    font-size: 3vw; /* Makes the heading size responsive to the viewport width */
    padding-bottom: 1.5rem;
    font-family: "Dancing Script", cursive;
}

.swimTgt p{ 
    font-size: 1.6vw; /* Makes the paragraph text size responsive */
    line-height: 1.5;
    width: 70%;
    margin-bottom: 5rem; /* Adds spacing below the paragraph */
    font-family: "Sour Gummy", sans-serif;
}
/* ------------------------*/

/* ----- Slideshow ----- */
.mySlides {
    display:none; /* Hide all slideshow images initially */
}

img {
    filter: brightness(0.5); /* Dim the image brightness to 50% */
}

img:hover{
    transform:scale(1.1); /* Increases the size of the image slightly */
}

/* Slideshow container */
.slideshow-container {
  max-width:100%;
  height: auto; /* Maintain aspect ratio */
  position: relative; /* Position elements within the container */
  margin: auto; /* Center the container */

}
.slideshow-container .mySlides img{
    transform: scale(1); /* Ensure the images are initially at full size */
    width: 100%; /* Make sure the images take up the full width of the container */
}
/* Next & previous buttons */
.previous, .next {
  cursor: pointer; /* Make the buttons clickable */
  position: absolute; /* Position buttons absolutely inside the slideshow container, to overlap picture */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust position to exactly center vertically */
  width: auto; /* Let the width adjust automatically based on content */
  padding: 2vw; /* Add padding around the button */
  color: white;
  font-weight: bold;
  font-size: 3vw;;
  transition: 0.6s ease; /* Smooth transition effect */
  border-radius: 0 1rem 1rem 0; /* Round the corners of the button */
  user-select: none;   /* Prevents user from selecting the button */
}

/* Position the "next button" to the right */
.next {
  right: 0; /* Place the next button on the right */
  border-radius: 3px 0 0 3px; /* Round the left corners of the next button */
  padding-right: 4vw; /* Extra padding on the right side of the next button */
}

.previous{
    padding-left: 4vw;
}

/* On hover, add a background color with a little bit see-through */
.previous:hover, .next:hover {
  background-color: rgba(33, 178, 214, 0.5);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer; /* Make the dots clickable */
  height: 15px; 
  width: 15px;
  margin: 0 1vw; /* Spacing between dots */
  background-color: Darkgrey;
  border-radius: 50%; /* Make the dots circular */
  display: inline-block; /* Display the dots in a horizontal row */
  transition: background-color 0.6s ease; /* Smooth transition when active state changes */
}

.active, .dot:hover {
  background-color: #098cf8; /* Change color to blue when active or hovered */
}


/* Fading animation */
.fade {
  animation-name: fade; /* Use the fade animation */
  animation-duration: 1.5s;
}

/* Keyframes for the fade animation */
@keyframes fade {
  from {opacity: 0.7}  /* Start with 70% opacity */
  to {opacity: 1}  /* End with full opacity (100%) */
}

/* ----- program ----- */
.program {
    font-size: 1.8vw;
    display: flex;
    flex-direction: row; /* Arrange child elements in a row */
    flex-wrap: wrap; /* Allow items to wrap if there's insufficient space */
    gap: 1rem; /* Add space between items */
    justify-content: center;
    max-width: 80%; /* Limit the width of the container */
    margin: 0 auto; /* Center the container on the page */
}

.program section{
    flex-basis: 40%; /* Each section takes up 40% of the container width */
    position: relative; /* Positioning context for absolute elements inside */
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 0.5rem; /* Rounded corners */
}

.program h3 a {
    margin: 0; /* Remove any default margin and padding */
    padding: 0; 
    font-size: 1.5vw;
    font-family: "Pacifico", cursive;
    position: absolute; /* Absolute positioning within the section */
    z-index: 3; /* Ensure the link is above other elements */
    color: white;
    top: 40%; /* Position the link 40% from the top */
    display: flex;
    align-items:flex-start;
    justify-content:center;
    text-align: center; 
    width: 70%; /* Set the width of the link */
    white-space: nowrap; /* Prevent text from wrapping */
}

.program img{
    filter: brightness(0.5); /* Dim the image to 50% brightness */
    border-radius: 1rem;
    width: 100%; /* Make the image take up the full width of its container */
}
/*-------------------*/

/* ----- Contact us ----- */
.contact{
padding-top: 1.2rem;
max-width: 100%;
display: flex;
flex-direction:column; /* Stack items vertically */
align-items: center;  /* Center items horizontally */
}

.contact h2{
    font-size: 2.8vw;
    font-family: "Dancing Script", cursive;
    margin-bottom: 2rem; /* Add space below the heading */
}

.contact .form-table{
    width: 60%; /* Limit form width to 60% of its parent */
}

.contact label{
    font-size: 2.0vw;
    font-family: "Protest Revolution", sans-serif;
    display: flex;
    justify-content: flex-start; /* Align label content to the left */
    margin-bottom: 1.2rem; /* Add space below the label */
    font-weight: bold;
    color: rgb(59, 57, 57); /* Set the text color to a dark grey */
}

.contact input{
    display:flex;
    justify-content: center;
    margin-bottom: 2.2rem; /* Add space below each input */
    font-size: 1.2vw;  
    font-family: "Parkinsans", sans-serif;
    border-radius: 1rem; /* Round the corners of the input fields */
    width: 80%; /* Set the width of the input fields to 80% */
    height: auto; 
    border: 0 transparent;  /* Remove the default border */
    border-bottom: 0.2em solid rgb(151, 149, 149); /* Add a bottom border for styling */
    padding-left: 2%; /* Add padding on the left side */
    padding-top: 1vh; /* Add vertical padding to the top */
    padding-bottom: 1vh;  /* Add vertical padding to the bottom */
    
}

.contact .map-table{
    margin-bottom: 3vw;  /* Add space below the map */
}

.contact .map-table iframe{
    width:100%;
    height:300px;; 
    border:0;
}

.submit{
    font-size: 1.6vw;
    font-family: "Dancing Script", cursive;
    margin-bottom: 2vw; /* Add space below the button */
    border-radius: 0.5rem; /* Round the corners of the button */
    height: auto;
    border: 0 transparent;  /* Remove the default border */
    border-bottom: 0.2em solid rgb(151, 149, 149); /* Add a bottom border for styling */
    width: 60%; /* Set the width of the submit button */
    margin-left: 55%;
    margin-top: 2vh;
}
/* ---------------------- */
/* ----------------------------------------------------------------------- */

/* ------------------------------ LTSkids Page ------------------------------ */
.kidsImg{
    margin-bottom: 2rem;
    position: relative; /* Needed for absolute positioning of the h2 and register button */
}

.kidsImg img{
    filter: brightness(0.5);
    transform: scale(1); /* Ensures the image is not scaled */
    width: 100%;
}

.kidsImg .Lts{
    position: absolute; /* Allows absolute positioning over the image */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the overlay spans the full width and height of the image */
    height: 100%;
}

.kidsImg h2{
    position: absolute; /* Positioned absolutely over the image */
    top: 10%; /* Places it near the top */
    left: 50%;                    /* Centers it horizontally */
    transform: translateX(-50%); /* Centers it exactly */
    color:rgb(137, 235, 235);
    font-size: 5vw;
    text-align: center;
    font-family: "Protest Revolution", sans-serif;
    white-space: nowrap; /* Prevents text from wrapping to a new line */
}

.kidsImg .register {
    position: absolute;
    top: 70%; /* Places it near the bottom */
    right: 10%;  /* Aligns to the right corner */
    font-size: 2.2vw; 
    padding: 0.6vw; /* Adds padding inside the button */
    font-family: "Fira Sans", sans-serif;
    color:rgb(137, 235, 235);
    background-color: rgb(8, 64, 83);
    border-radius: 1vw;
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
} 

.kidsImg .register:hover{
    transform: scale(1.2);  /* Enlarges the button on hover */
    background-color: rgb(3, 33, 44);  /* Darkens the background color on hover */
}

/* ----- Content for Learn To Swim Kids ----- */ 
.kidsContent{
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items:flex-start; /* Aligns the children to the top */
    justify-content:flex-start; 
    margin-left: 10%;
    margin-bottom: 2vw;
}

.main-sections {
    display: flex;
    width: 80%; 
    margin-left: 6%; /* Adds space on the left */
}

/* Left section */
.left-section {
    flex: 2 ; /* Takes up 2/3 of the space, proportional to the right section */
}

.left-section section{
    margin-bottom: 2rem; /* Adds space below each section */
}

.left-section section h3{
    font-size: 1.6vw;
    font-family: "Protest Revolution", sans-serif;
    margin-bottom: 0.6vw; /* Adds space below the section heading */
    margin-top: 0.6vw; /* Adds space above the section heading */
}
.left-section section #age{
    margin-bottom: 1vw; /* Adds space below the age */
}
.left-section section p{
    font-size: 1.3vw;
    font-family: "Protest Revolution", sans-serif;
}
.left-section section #registrationFee{
    margin-top:0.4vw; /* Adds space above the registration fee */
    font-size: 0.9vw;
}

.left-section h2{
    font-size: 1.9vw;
    font-family: "Dancing Script", cursive;
    margin-bottom: 2%; /* Adds space below the section title */
}
.left-section .why-box p{
    margin-bottom: 1rem;
    width: 65%; /* Limits the width of the paragraph */
    font-size: 1.2vw;
    font-family: "Sour Gummy", sans-serif;
}

/* Right section */
.right-section {
    flex: 1; /* Takes up 1/3 of the space, proportional to the left section */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image styling */
.right-section img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 0.5rem; 
    border: 0.4vw solid rgb(8, 64, 83) ; /* Adds a solid border around the image */
}
/* ------------------------------------------ */

/* ----- after LTS -----  */
.afterLts {
    text-align: center; /* Centers the text inside the container */
    display: flex; 
    flex-direction: column; /* Stacks heading and Teams container vertically */
    align-items: center; /* Horizontally centers content */
    justify-content: center;
    margin-bottom: 2vw;
}

h2 {
    margin-bottom: 2rem; /* Adds space between heading and the Teams section */
    font-size: 2.4vw; /* Sets a responsive font size */
    font-family: "Dancing Script", cursive;
}

.Teams {
    display: flex; 
    justify-content: center; /* Centers the sections horizontally */
    gap: 4%; /* Adds even spacing between the sections */
    flex-wrap: wrap; /* Ensures sections wrap on smaller screens */
    max-width: 80%; /* Restricts max width for larger screens */
    margin-bottom: 2vw;
}

.Teams section {
    max-width: 30%; /* Limits sections to 30% width of the container */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.Teams img {
    width: 80%; /* Makes images scale to the section's width */
    height: auto; 
    border-radius: 0.8rem; 
    filter: brightness(0.5);
    position: relative;
    margin-bottom:4%;
}

.Teams h3{
    position: absolute; 
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjusts to perfectly center the text */
    color: white; 
    font-size: 2.0vw; /* Adjusts the size of the text */
    font-family: "Protest Revolution", sans-serif;
    display: flex;
    align-items: center ;
    justify-content: center;    
}

.Teams p{
    font-size: 1vw;
    font-family: "Sour Gummy", sans-serif;
}

.learnMore {
    font-size: 2.2vw;
    font-family: "Protest Revolution", sans-serif;
    width: 35%;
    border-radius: 0.8vw;
    border: 0 transparent; /* Removes the border on all sides (sets border to 0 and transparent) for further styling */
    border-bottom: 0.2em solid rgb(116, 114, 114);
    height: 3.8vw;
}
/* ---------------------- */

/* ----- sign-up Form ----- */ 
.signUpForm {
    display: flex;
    justify-content: center; /* Horizontally centers the form on the page */
    align-items: center; /* Vertically centers the form on the page */
    margin-bottom: 2vw;
}

.signUpForm form {
    display: flex;
    flex-direction: column; /* Stacks sections vertically */
    align-items: center; /* Centers form elements horizontally */
}

.signUpForm .form-content section {
    margin-bottom: 2vw; /* Adds space between each section */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Ensures the section takes up the full width of its container */
}

.signUpForm .form-content label{
    width: 100%;
    font-size: 1.7vw;
    margin-bottom: 1vw; /* Adds space below the label */
}

.signUpForm .form-content input {
    width: 50vw; /* Sets the input field width to 50% of the viewport width */
    height: 3.2vw; /* Sets the input field height */
    border-radius: 0.8vw;
    border: 0 transparent; /* Removes the border */ 
    border-bottom: 0.4em solid rgb(116, 114, 114); /* Adds a grey bottom border */
    font-size: 1vw;
    padding-left: 2%;
}

.signUpForm .form-content select {
    width: 50vw; /* Same width as input fields */
    height: 3.2vw; /* Same height as input fields */
    border-radius: 0.8vw; /* Same border-radius as input fields */
    border: 0 transparent; /* Removes the border */
    border-bottom: 0.4em solid rgb(116, 114, 114); 
    font-size: 1vw; 
    padding-left: 2%; 
    background-color: white;
    cursor: pointer; /* Pointer cursor for interactivity */
}

/* Preferred Day */
.Day{
    margin: 0 auto; /* Centers the container horizontally */
    position: relative; /* Allows positioning of child elements relative to this container */
    left: 8%; /* Shifts the container 8% to the right */
    max-width: 80%; /* Ensures the width does not exceed 80% of the parent */
    margin-bottom: 2vw;
}
.Day .CheckboxDay {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto new rows */
    gap: 3.8vw; /* space between items */
    justify-content: center;
  }
  
.Day .CheckboxDay label {
    flex: 1 1 30%;  /* Each label takes up 30% of the container width, but can grow and shrink */
    box-sizing: border-box; /* Ensures padding/border doesn’t affect the width */
    margin-bottom: 0.5vw;; /* space between rows */
    font-size: 1.8vw;
    display: flex; 
    align-items: center; /* Vertically align the checkbox with the label */
  }

.Day .CheckboxDay input{
    width: 3vw;
    height: 3vw;
    margin-right: 2vw;
}
  
.Day h2 {
    margin-bottom: 2vw; /* Space between heading and checkboxes */
  }

/* Preferred Time */
.Time{
    margin: 0 auto; /* Centers the container horizontally */
    position: relative;
    left: 8%;
    max-width: 80%;
    margin-bottom: 2vw;
}
.Time .CheckboxTime {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto new rows */
    gap: 3.8vw; /* space between items */
    justify-content: center;
  }
  
.Time .CheckboxTime label {
    flex: 1 1 30%; /* Each label takes 30% of the container width */
    box-sizing: border-box; /* Ensures padding/border doesn’t affect the width */
    margin-bottom: 0.5vw;; /* space between rows */
    font-size: 1.8vw;
    display: flex; 
    align-items: center; /* Vertically align the checkbox with the label */
  }

.Time .CheckboxTime input{
    width: 3vw; /* Sets the width of the checkbox */
    height: 3vw; /* Sets the height of the checkbox */
    margin-right: 2vw; /* Adds space between the checkbox and its label */
}
  
.Time h2 {
    margin-bottom: 2vw; /* Space between heading and checkboxes */
  }

/* feedback */
.feedback{
    width: 80%;
    margin: 0 auto; /* Centers the container horizontally */
    position: relative;
    left: 8%;
    max-width: 80%; 
    margin-bottom: 2vw; /* Adds space below the container */
}

.feedback h2{
    font-size: 2.5vw;
}

.feedback input{
    width: 100%; /* Sets the input field width to fill its container */
    max-width: 80%; /* Limits the maximum width to 80% of its parent */
    height: 14vw; /* Sets the height of the input field based on the viewport width */
    border-radius: 1rem;
    font-size: 1.5vw;
    padding-bottom: 14%; /* Adds padding at the bottom of the input field */
    padding-left: 1.5%; /* Adds padding to the left of the input field */
}


.submitSignUp{
    width: 30%; /* Sets the width of the submit button to 30% of its parent */
    left: 35%;  /* Centers the button horizontally */
    font-size: 1.8vw;
    font-family: "Dancing Script", cursive;
    margin-bottom: 2vw; /* Adds space below the submit button */
    border-radius: 0.5rem;
    height: 2.4vw;
    border: 0 transparent;  /* Removes the border around the button */
    border-bottom: 0.2em solid rgb(116, 114, 114); /* Adds a bottom border with a light gray color */
}
/* ------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Program Page ------------------------------ */
.prgImg{
    margin-bottom: 2rem;
    position: relative; /* Ensures that absolute positioning can be used for child elements */
}

.prgImg img{
    filter: brightness(0.5);
    transform: scale(1);
    width: 100%; /* Makes the image width 100% of its container */
}

.prgImg h2{
    width: 100%;
    height: 100%;
    position: absolute; /* Positions the heading absolutely inside the container */
    top: 10%; /* Places it near the top */
    left: 50%; /* Aligns the heading horizontally to the center of the container */
    transform: translateX(-50%); /* Corrects the alignment by moving the heading left by 50% of its width */
    color:rgb(137, 235, 235);
    font-size: 6vw;
    text-align: center; /* Centers the text horizontally */
    font-family: "Protest Revolution", sans-serif;
}

.prgPage1 {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: space-between; /* Space out the image and text */
    gap: 3vw; /* Space between the children and about section */
    max-width: 80%; /* Set a max width for the layout */
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 2vw;
}

/* Container for the image and heading */
.row1 {
    position: relative; /* For positioning the h3 over the image */
    width: 20%; /* Adjust the width of the image container */
}

.row1 img {
    width: 100%; /* Make image fill its parent container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 1vw; 
    filter: brightness(0.5);
}

/* Heading (h3) overlapping the image */
.row1 h3 {
    position: absolute;
    top: 50%; /* Position vertically in the center */
    left: 50%; /* Position horizontally in the center */
    transform: translate(-50%, -50%); /* Offset to truly center it */
    white-space: nowrap;
    color: white; 
    font-size: 1.2vw; 
    font-weight: bold; 
    z-index: 1; /* Ensure the heading is on top of the image */
}

/* Section for the text description (about) */
.About1 {
    flex: 1; /* Take up the remaining space */
    padding: 1vw; /* Padding for the text */
    font-size: 1vw; /* Adjust the font size */
    text-align: left; /* Align text to the left */
    background-color: rgb(14, 185, 185); 
    color: rgb(35, 68, 126);
    font-family: "Sour Gummy", sans-serif;
    font-weight: bold;
    border-radius: 0.8vw; 
}

/* adult */ 
.prgPage2 {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: space-between; /* Space out the image and text */
    gap: 3vw; /* Space between the children and about section */
    max-width: 80%; /* Set a max width for the layout */
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 2vw;
}
.row2 {
    position: relative; /* For positioning the h3 over the image */
    width: 20%; /* Adjust the width of the image container */
}

.row2 img {
    width: 100%; /* Make image fill its parent container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 1vw; /* rounded corners for the image */
    filter: brightness(0.5);
}

/* Heading (h3) overlapping the image */
.row2 a h3 {
    position: absolute;
    top: 50%; /* Position vertically in the center */
    left: 50%; /* Position horizontally in the center */
    transform: translate(-50%, -50%); /* Offset to truly center it */
    white-space: nowrap;
    color: white; 
    font-size: 1.2vw; 
    font-weight: bold;
    z-index: 1; /* Ensure the heading is on top of the image */
}

/* Section for the text description (about) */
.About2 {
    flex: 1; /* Take up the remaining space */
    padding: 1vw; /* Padding for the text */
    font-size: 1vw; 
    text-align: left; /* Align text to the left */
    background-color: rgb(14, 185, 185);
    color: rgb(35, 68, 126);
    font-family: "Sour Gummy", sans-serif;
    font-weight: bold;
    border-radius: 0.8vw; 
}
.Trainpic{
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Align text in the center of the image */
    height: auto;
    margin: 0 auto; /* Center the container horizontally on the page */
    position: relative;
}
.Trainpic a img{
    max-width: 80%; /* Ensures the image doesn't exceed 80% of its container's width */
    width: 60%; /* Sets the image width to 60% of its container's width */
    filter: brightness(0.5);
    border-radius: 1vw;
    display: flex;
    justify-content: center; /* Center the image and text horizontally */
    align-items: center; /* Center the image and text vertically */
    height: auto;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 1.5vw;
}

.Trainpic a h3{
    position: absolute; 
    color: rgb(253, 253, 253); 
    font-size: 3vw; 
    font-weight: bold; 
    top: 50%; /* Position the text vertically in the center */
    left: 50%; /* Position the text horizontally in the center */
    transform: translate(-50%, -50%); /* Center the text exactly within the image */
}
/* -------------------------------------------------------------------------- */

/* screen resize*/
@media (max-width: 576px ) {
    body{
        background-color: rgb(248, 171, 184) !important;
    }

    .Header a img{
        width: 45%;
    }

    .Header .logoPic{
        width: 45%;
    }

    .Header h1{
        display: none;
    }

    #searchBar {
        width: 50vw;
        height: auto;
    }

    .navbar {
        height: auto;
        display: flex;
        align-items: center;
    }

    .navbar .navdiv .navlist li a {
        font-size: 4vw;
        color: white;
        display: block;
    }

    /* footer */ 
    .foot h2{
        font-size: 4vw;
        padding-top: 5%;
    }

    .infoList a{
        font-size: 3vw;
        display: flex;
        justify-content: space-evenly;
    }

    .row{
        gap: 6vw;
    }

    #myBtn{
        font-size: 4vw !important;
        padding: 3vw !important;
    }

    /* Home Page*/ 
    #welcome{
        top: 40vw !important;
    }

    .video {
        display: flex;
        justify-content: center; /* Centers the video horizontally */
        width: 100%;
    }
    
    .video iframe {
        width: 80%;
        height: 60vw;
    }

    .swimTgt h2{
        font-size: 5vw;
    }

    .swimTgt p{
        font-size: 2.8vw;
    }

    /* program */
    .program{
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .program h3 a{
        font-size: 3.2vw;
        width: 100%;
    }

    .program a img{
        display: flex;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        margin-bottom: 5%;
    }

    /* contact us */ 
    .contact table{
        display: block;
    }
    
    .contact .form-table, 
    .map-table{
        display: block;
    }

    .contact label{
        font-size: 4vw;
    }

    .contact input{
        width: 50vw;
        height: 11vw;
        font-size: 3vw;
    }

    .contact h2{
        font-size: 6vw;
    }

    .submit{
        font-size: 4.5vw;
        width: 60%;
        height: auto;
        margin-left: 55%;
    }


    .contact .map-table iframe {
        width: 100%; /* Make the iframe responsive */
        height: 40vh; /* Set height relative to viewport */
        max-width: 100%; /* Ensure it doesn't exceed container */
        border: none; /* Remove borders that may cause overflow */
    }

    .main-sections {
        flex-direction: column; /* Stack the sections vertically */
        align-items: center; /* Center both content and image */
    }

    .left-section {
        width: 100%; /* Ensure left content takes full width on smaller screens */
        margin-bottom: 2vw; /* Add some space below the content */
        font-size: 4vw;
    }

    .left-section section #registrationFee{
        font-size: 2vw;
    }

    .left-section section h3{
        font-size: 6vw;
    }

    .left-section section p{
        font-size: 4vw;
    }

    .left-section h3{
        font-size: 5vw;
    }

    .left-section .why-box  h2{
        font-size: 6vw;
        text-align: center;
    }

    .left-section .why-box p{
        margin-bottom: 1rem;
        font-size: 3.8vw;
        font-family: "Sour Gummy", sans-serif;
        text-align: center;
        width: auto;
    }

    .right-section {
        width: 100%; /* Make the image container take full width */
        margin-top: 2vw; /* Add space between content and image */
    }

    .right-section img {
        width: 60%;
        border: 1.0vw solid rgb(8, 64, 83);
    }

    /* After lts */
    .afterLts h2{
        margin-top: 2vw;
        font-size: 5vw;
    }

    .Teams{
        flex-direction: column; /*stack vertically*/
        align-items: center;
    }


    .Teams section {
        max-width: 100%; /* Use full width of the container */
        flex: 1 1 100%; /* Each section takes full width */
        margin-bottom: 4vw;;
    }


    .afterLts .Teams h3{
        top: 30%;
        font-size: 5vw;   
    }
    .afterLts .Teams p{
        font-size: 4vw;
    }

    .afterLts .learnMore {
        width: 80%; /* Adjust button width for smaller screens */
        height: 8vw; /* Increase button height */
        font-size: 4vw; /* Increase font size for better readability */
    }
    
    /* Sign-up form */
    .signUpForm form {
        width: 90%; /* Expand the form width on small screens */
    }

    .signUpForm .from-content label {
        font-size: 3vw; /* Increase label font size */
    }

    .signUpForm .from-content input,
    .signUpForm .from-content select {
        width: 80vw; /* Increase input and select width */
        height: 5vw; /* Increase input and select height */
        font-size: 2.5vw; /* Increase font size */
        padding-left: 3%; /* Adjust padding for input and select */
    }

    .signUpForm h2 {
        font-size: 5vw; /* Increase heading size */
        margin-bottom: 2vw; /* Adjust space below the heading */
    }

    /* Perferred Day */
    .Day{
        width:90%;
        left: 3%;
    }

    .Day h2{
        font-size: 4.5vw;
    }

    .Day .CheckboxDay label{
        font-size: 3vw;
    }

    /* Perferred Time */
    .Time{
        width:90%;
        left: 3%;
    }

    .Time h2{
        font-size: 4.5vw;
    }

    .Time .CheckboxTime label{
        font-size: 3vw;
    }

    /* feedback */
    .feedback {
        width: 90%;
        left: 2%;
        margin: 0 auto;
        margin-bottom: 2%;
    }
    .feedback h2{
        font-size: 4.5vw;
        margin-bottom: 2%;
    }
    
    .feedback input{
        height: 14vw;
        border-radius: 1rem;
        font-size: 2.5vw;
        padding-top: 2%;
        margin: 0 auto;  /* Centers the input field */
        display: block;
    }
    
    .submitSignUp{
        font-size: 4vw;
        height: auto;
    }

    /*program page */
    .prgImg h2{
        top: 30%;
    }

    .prgPage1, .prgPage2 {
        flex-direction: column; /* Stack the items vertically */
        align-items: center; /* Center align the content */
    }

    .row1, .row2 {
        width: 80%; /* Full width for the image section */

    }

    .row1 a h3, .row2 a h3{
        font-size: 4vw;
    }

    .About1, .About2 {
        width: 80%; /* Full width for the text section */
        margin-top: 2vw; /* Add some spacing between the image and text */
        font-size: 3vw;
        text-justify: auto;
    }

    .row1 {
        order: 1; /* Ensure the image comes before text */
      }
    
      .About1 {
        order: 2; /* Ensure the text appears below the image */
      }
    
      .row2 {
        order: 1; /* Ensure the image comes before text */
      }
    
      .About2 {
        order: 2; /* Ensure the text appears below the image */
      }

      .Trainpic a h3 {
        font-size: 4vw;
      }
}

@media (max-width: 980px){
    body{
        background-color: rgb(244, 244, 244);
    }

    .Header a img{
        width: 45%;
    }

    .Header .logoPic{
        width: 45%;
    }

    .Header h1{
        display: none;
    }

    #searchBar {
        width: 50vw;
        height: auto;
    }

    .navbar {
        height: auto;
        display: flex;
        align-items: center;
    }

    .navbar .navdiv .navlist li a {
        font-size: 3vw;
        color: white;
        display: block;
    }
    .Header{
        justify-content: space-between;
        
    }

    .Header p{
        justify-content: center;
    }

    .navdiv{
        flex-direction: column;
    }

    .navlist li a{
        font-size: 2rem;
    }

    /* footer */
    .foot .infoList{
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;    
    }
    .foot h2{
        font-size: 4vw;
        padding-top: 5%;
    }

    .infoList a{
        font-size: 3vw;
        display: flex;
        justify-content: space-evenly;
    }

    .row{
        gap: 6vw;
    }

    #myBtn{
        font-size: 3vw;
        padding: 2vw;
    }
    /*Home page */
    #welcome{
        top: 40vw;
    }

    .swimTgt h2{
        font-size: 6vw;
    }

    .swimTgt p{
        font-size: 2.8vw;
    }

    /* program */
    .program h3 a{
        font-size: 3.2vw;
        width: 100%;
    }

    .program a img{
        width: 100%;
        height: auto;
    }
    .program section{
        flex-basis: calc(50% - 2rem)
    }

    .contact h2{
        font-size: 5vw;
    }

    .contact table{
        width: 70%;
    }

    .contact .form-table{
        width: 80%;
    }

    .contact label{
        font-size: 5vw
    }

    .contact input{
        font-size: 2.6vw;
    }

    .contact .map-table iframe{
        width: 30vw;
        height: auto;
    }

    .submit{
        font-size: 4vw;
    }

    .modal-content p{
        font-size: 3vw;
    }
}